@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}

<div class="text-center">
    @if (ViewBag.Success)
    {
        <p id="text">set password...</p>
    }
    else
    {
        <h1 class="display-4">Set new password</h1>
        <form asp-route="SetPassword" method="post">
            <div>
                <span>Password</span>
                <input asp-for="Password" value=""/>
                <input asp-for="Id" value="@Model.Id" hidden/>
                <input asp-for="RedirectUrl" value="@Model.RedirectUrl" hidden/>
                <input type="submit" value="Login">
            </div>
        </form>
    }
</div>

@section Scripts{
    <script>
    function redirect(){
        setTimeout(() => {
            const url = '@ViewBag.RedirectUrl';
            if (url && url !== '') {
                document.querySelector("#text").innerHTML = 'redirecting...';
                setTimeout(() => {
                        window.location.replace('@ViewBag.RedirectUrl');
                }, 2000);
            }
            else{
                document.querySelector("#text").innerHTML = 'no redirect URL';
            }
        }, 1000);
    }
    const success = '@ViewBag.Success.ToString()';
    if (success === 'true' || success === 'True'){ 
        document.addEventListener("DOMContentLoaded", function(event) { 
         redirect();
        });
    }
    </script>
}